body{
  margin: 0;
  text-align: center;
  font-family: 'EB Garamond', serif;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Marck Script', cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2{
  font-family: 'Crimson Text', serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
}

h3{
  font-family: 'Crimson Text', serif;
  color: #11999e;
}

a{
  color: #11999e;
}


.top-container{
  background-color: #cffffe;
  position: relative;
  padding-top: 100px;

}

.middle-container{

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}



.bottom-container{

}


.top-cloud{
position: absolute;
right: 300px;
top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/*.skill-img{
  width: 25%;
}

.boxing-img{
  width: 25%;
}
*/
